<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Grid Layout</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    </head>

    <body>

        <div class="grid-container">

            <div class="grid-item-1 grid-item-padding">Header</div>
            <div class="grid-item-2 grid-item-padding">Main-Menu</div>
            <div class="grid-item-3 grid-item-padding">Main-Text</div>
            <div class="grid-item-4 grid-item-padding">Sub-Text</div>
            <div class="grid-item-5 grid-item-padding">Sidebar</div>
            <div class="grid-item-6 grid-item-padding">Footer</div>

        </div>

    </body>
</html>
