<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flash2Brain</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/bulma/css/bulma.min.css">
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item"  href="{{ url_for('insert') }}">
        Insert record
      </a>

      <a class="navbar-item"  href="{{ url_for('update') }}">
        Update record
      </a>
    </div>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- end of header menu -->

<section class="section">
  <div class="container">
    <p>Der Inhalt unserer Datenbank:</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <!-- begin of table with database content -->
    <table class="table">
      <thead>
          <tr>
            <th>id</th>
            <th>Frage</th>
            <th>Antwort</th>
            <th>Quelle</th>
            <th>Ersteller</th>
          </tr>
      </thead>
      <tbody>

      {% for row in rows: %}
        <tr>
          <th>{{ row[0] }}</th>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td><a href="{{ row[3] }}" target="_blank">{{ row[3] }}</a></td>
          <td>{{ row[4] }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
    <!-- end of table with database content -->
  </div>
</section>

</body>
</html>